*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Open Sans";
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $xs) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: $sm) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: $md) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: $lg) {
  .container {
    max-width: 1140px;
  }
}
